<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action="/post-post" method="post">
    <label> Title
        <input type="text" name="title">
    </label><br>
    <label> Text of the post
        <input type="text" name="text">
    </label><br>
    <button type="submit" class="btn btn-primary">Submit</button>>
</form>
</body>
</html>
